body {
    background: #fafafa;
}

.dino {
    width: 3.75rem;
    height: 3.75rem;
    position: absolute;
    bottom: 0;
    background-image: url('../img/dino.png');
}

.cactus {
    position: absolute;
    width: 3.75rem;
    height: 3.75rem;
    bottom:0;
    background-image: url('../img/cactus.png');
}

.game-over {
    text-align: center;
    color: #e61717;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}

/* Animação plano de fundo */
@keyframes deslizando {
    from {
        background-position: 70000%;
    }
    to {
        background-position:0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url('../img/background.png');
    background-repeat: repeat-x;
    animation: deslizando 600s infinite linear;
    width: 100%;
    height: 200px;
}